@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Markazi+Text:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text', serif;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 185px;
  height: 8vh;
}

header .logo {
  height: 50px;
  margin-left: auto;
  justify-self: flex-start;
}

header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

.dishesList, .testimonialsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 40vh;
  gap: 40px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #495E57;
  color: white;
  line-height: 0.5;
}

.hero-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: auto;
  gap: 20px;
}

.hero-text h1 {
  font-size: 70px;
  font-weight: normal;
  color: #F4CE14;
}

.hero-text h2 {
  font-size: 50px;
  font-weight: normal;
}

.hero-text p {
  max-width: 400px;
  line-height: 1.6;
  margin: 0;
  font-size: 18px;
}

.btn-main {
  border-radius: 16px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: #F4CE14;
  font-weight: bold;
}

.hero-image {
  justify-self: center;
}

.hero-image img {
  width: 200px;
  border-radius: 16px;
}

.dishesSection {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.dishesHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.dishesHeader h2 {
  font-size: 50px;
}

.dishesList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}

.dish {
  background-color: #edefee;
}

.dishMainInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dishSecundaryInfo {
  padding: 1.5rem;
}

.dishDescription {
  max-width: 200px;
  height: 105PX;
  line-height: 1.3;
}

.dish img {
  height: 150px;
  width: 250px;
  object-fit:cover;
}

.testimonialSection {
  padding: 2rem;
  background-color: #FBDABB;
}

.testimonialSection h2{
  text-align: center;
  font-size: 50px;
  height: 10vh;
}

.testimonialsList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial {
  padding: 1.5rem;
  background-color: #495E57;
  border-radius: 16px;
  max-width: 20rem;
  box-shadow: 1rem 1rem 1rem #EE9972;
}

.testimonial p {
  max-width: 20rem;
  color: white;
}

.testimonial img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: solid #F4CE14 0.4rem;
}

.testimonialParent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.testimonialChild {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonialChild h3:first-of-type {
  font-size: 30px;
  max-width: 150px;
  text-align: center;
  color: #FBDABB;
}

footer {
  background-color: #495E57;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
  gap: 15rem;
}

.footerLinks ul,
.footerContact ul,
.footerSocialMedia ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

.footerLinks ul li a,
.footerContact ul li a,
.footerSocialMedia ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}